/* Notes List Container */
.notes-list-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Search Bar and Dropdown */
.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.search-bar:focus {
  border-color: #6200ee;
  outline: none;
  box-shadow: 0 0 8px rgba(98, 0, 238, 0.3);
}

.search-mode-dropdown {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  transition: border-color 0.3s;
}

.search-mode-dropdown:focus {
  border-color: #6200ee;
  outline: none;
  box-shadow: 0 0 8px rgba(98, 0, 238, 0.3);
}

/* Notes List */
.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

/* Note Card */
.note-card {
  transition: transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  text-align: center;

  background: white;

  padding: 15px;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 40% 10%;

  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.note-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.note-card h3 {
  overflow-wrap: break-word;
  margin-top: 30%;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 2rem;
  color: #6200ee;
  margin-bottom: 100px;
}

.tags {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: -5px;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #dedede;
  font-weight: bold;
  border-radius: 5%;
  align-content: center;
  justify-content: center;
  padding: 3% 1%;
}

/* Delete Button */
.delete-button {
  margin-top: -25px;
  padding: 12px 35px;
  font-size: 0.9rem;
  color: white;
  background: #ff5252;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  grid-row: 3;

  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

.delete-button:hover {
  background: #d50000;
}

/* Error Message */
.error-message {
  color: #ff5252;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}
/* Tag Filter Dropdown */
.tag-filter-dropdown {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  transition: border-color 0.3s;
}

.tag-filter-dropdown:focus {
  border-color: #6200ee;
  outline: none;
  box-shadow: 0 0 8px rgba(98, 0, 238, 0.3);
}
